<!DOCTYPE html>
<html>
	<head>
		<title>Ed Bradbury's developer portfolio</title>
		<link rel="stylesheet" type="text/css" href="styles.css">
	</head>
		<body>

			<div id="header">
				<h1>Ed Bradbury's portfolio</h1>
				<nav>
					<a href="">CV</a>
					<a href="mailto:edwardsbradbury@gmail.com">Email me</a>
					<a href="https://www.linkedin.com/in/ed-bradbury-639366216" target="_blank">LinkedIn</a>
					<a href="https://github.com/edwardsbradbury" target="_blank">GitHub</a>
				</nav>
			</div>
				
			<div id="main-content">
		
				<h1>Hello world</h1>

			</div>
		</body>
</html>